@tailwind base;
@tailwind components;
@tailwind utilities;

#main-content {
    grid-template-columns: minmax(10rem, 20%) auto;
}

.btn {
    @apply border-primary rounded-md p-1;
}

.modal {
    @apply fixed top-50% left-50% w-80 p-11 text-center rounded-xl border-primary border-2 bg-secondary transform -translate-x-1/2 -translate-y-1/2 scale-0 ease-in-out duration-200
}

.modal.active {
    @apply transform -translate-x-50% -translate-y-50% scale-100
}

.modal-form {
    @apply flex flex-col p-2 gap-2
}

.form-title {
    @apply p-3 font-bold text-lg 
}

.form-textbox {
    @apply bg-inherit rounded-md p-1
}

.form-submit {
    @apply border-primary border-2 p-2 rounded-md
}

#overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    @apply fixed top-0 left-0 w-100% h-100%
}

#overlay.active {
    display: block;
}

.board-title {
    @apply font-normal text-lg p-2 break-words
}

.board-title.active {
    @apply text-primary-variant bg-secondary-variant font-bold
}

.board-title:hover {
    @apply cursor-pointer
}

#items-panel {
    @apply p-10
}

#items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    grid-auto-rows: minmax(250px, 1fr);
    gap: 4rem;
    padding: 3rem;
    padding-left: 2rem;
}

.item-box {
    @apply border-primary border-2 rounded-lg p-2 flex flex-col
}

.add-item-btn {
    @apply border-primary border-2 border-dashed rounded-lg font-bold text-8xl items-center
}

.add-item-btn:hover {
    @apply cursor-pointer
}